<div class='section'>
	<div class='container'>
		<div class='row'>
			<div class="col-md-12">
				<div class="jumbotron">
					<h1>Brainbox</h1>		 
					<p>Gérez, partagez vos idées avec Brainbox</p>
					<p><%= link_to "Create Account", signup_path, class: "btn btn-default btn-lg" %></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class='section-colored'>
<div class="container">
    <div class="row">
	        <div class="col-lg-4 col-md-4">
	           <h3><span class="glyphicon glyphicon-chevron-down"></span> Votre propre espace BrainBox</h3>
	           <p> Créez votre propre espace brainbox accessible via un nom de sous-domaine personnalisé.Vous pourrez ainsi partager et traiter vos idées en groupe privée !</p>
	        </div>
          <div class="col-lg-4 col-md-4">
            <h3><span class='glyphicon glyphicon-user'></span> Ajouter Users &amp; Brainboxes</h3>
            <p> Ajouter des utilisateurs, leur donnant ainsi accés à votre espace BrainBox !  </p>
          </div>
          <div class="col-lg-4 col-md-4">
            <h3><span class='glyphicon glyphicon-wrench'></span> Partagez vos idées avec vos collaborateurs</h3>
            <p>Ajouter une description et pourquoi pas des <a href='#'>liens</a> dans le texte, vendre l'application blablabla
            	on verra plus tard pour cette partie</p>
          </div>
        </div><!-- /.row -->
 </div><!-- /.container -->
</div>

    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>BrainBox: Fructifiez vos idées </h2>
            <p> Gérez vos idées en utilisant différentes 'BrainBoxes', créer un groupe d'utilisateur pour les évaluer et en proposer de nouvelles !</p>
            <hr>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.section -->

